<link rel="stylesheet" href="/css/guides.css">

<div class="container-guides">
    <h1 class="section-title">Nuestro Equipo de guías</h1>
    <div class="card-container">
        {{#if guide}}
        {{#each guide}}
        <article class="card">
            <div class="card-link-container">
                <a class="card-link" href="/doctores/{{this._id}}" title="Ver detalles de {{this.name}}">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </div>
            <img class="card-img" src="{{this.photo}}" alt="Foto de {{this.name}}" loading="lazy" />
            <div class="card-details">
                <h2 class="card-title">{{this.name}}</h2>
            </div>
        </article>
        {{/each}}
        {{else}}
        <p class="alert-message">{{message}}</p>
        {{/if}}
    </div>
</div>