<link rel="stylesheet" href="/css/post.css">

<section class="container grid">
    <section class="post-header mt-9">
        <div class="header-post-content post-container">
            <img src="{{imageUrl}}" class="header-post-img" alt="{{title}}" />
        </div>
    </section>
    <section class="post-content post-container">
        <div class="desc1">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
        </div>
        <div class="desc2">
            <h3>{{title_two}}</h3>
            <p>{{description_two}}</p>
        </div>
        <p>Compartir en:</p>
        <div class="share">
            <button><i class="ri-instagram-line"></i></button>
            <button><i class="ri-facebook-circle-line"></i></button>
            <button><i class="ri-tiktok-line"></i></button>
        </div>
        <a href="/blog" class="back-blog">Regresar al blog</a>
    </section>
</section>