<link rel="stylesheet" href="/css/tours.css" />
<link rel="stylesheet" href="/css/home.css">

<section class="popular section" id="popular">
  <h2 class="section__title">
    Nuestros Tours
  </h2>
  <div class="popular__container container grid">
    {{#if tour}}
    {{#each tour}}
    <article class="popular__card"
      style="box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1); padding: 12px; border-radius: 5px">
      <div class="popular__image">
        <a href="/tours/{{this._id}}">
          <img src="{{this.img}}" alt="{{this.name}}" class="popular__img">
          <div class="popular__shadow"></div>
        </a>
      </div>
      <h2 class="popular__title" style="text-align: center;">
        {{this.name}}
      </h2>
      <div class="popular__location about-guide">
        <span style="text-align: center;">{{this.description}}</span>
      </div>
      <a href="/tours/{{this._id}}" class="btn-info">Mas información</a>
    </article>
    {{/each}}
    {{else}}
    <p class="message-error">{{message}}</p>
    {{/if}}
  </div>
</section>