<link rel="stylesheet" href="/css/tours.css" />

<section class="tour section" id="popular">
  <h2 class="section__title">
    Nuestras Aventuras
  </h2>
  <div class="tour__container container grid">
    {{#if tour}}
    {{#each tour}}
    <article class="tour__card">
      <div class="tour__image">
        <a href="/tours/{{this._id}}">
          <img src="{{this.img}}" alt="{{this.title}}" class="tour__img">
          <div class="popular__shadow"></div>
        </a>
      </div>
      <h2 class="tour__title">
        {{this.title}}
      </h2>
      <div class="tour__content">
        <a href="/tours/{{this._id}}" class="btn-info">Mas información</a>
      </div>
    </article>
    {{/each}}
    {{else}}
    <p class="message-error">{{message}}</p>
    {{/if}}
  </div>
</section>