<link rel="stylesheet" href="/css/tourDetail.css">

<section class="container grid">
  <div class="container-tour">
    <div class="tour-container">
      <div>
        <div class="gallery" id="gallery">
          {{#if tour.photo}}
          {{#each tour.photo}}
          <img src="{{this}}" alt="{{../tour.title}}" />
          {{/each}}
          {{else}}
          <p>No hay imágenes disponibles.</p>
          {{/if}}
        </div>
      </div>

      <div id="tour-detail" class="tour-detail">
        <div class="tour-content-det">
          <img src="{{tour.img}}" alt="{{tour.title}}" />
          <div>
            <h2>{{tour.title}}</h2>
            <p class="description">{{tour.description}}</p>

            {{#if (eq tour.status "educativo")}}
            <p class="status"><strong class="sub">Tipo del tour:</strong>
              <span>{{tour.status}}</span>
            </p>
            {{else if (eq tour.status "aporte")}}
            <p class="description"><strong class="sub">Precio:</strong>
              <span>{{tour.price}}</span>
            </p>
            {{/if}}

            <p class="address"><span>{{tour.location}}</span>
            </p>
          </div>
        </div>

        <hr style="margin-top: 20px;">

        <div class="guide-info">
          <div class="guide-info-content">
            <img src="{{tour.guide.photo}}" alt="{{tour.guide.name}}" />
            <div>
              <p><strong>Guia responsable:</strong> {{tour.guide.name}}</p>
              <p><strong>Email:</strong> {{tour.guide.email}}</p>
            </div>
          </div>
          <div>
            <a target="_blank" class="wpp-btn" href="https://api.whatsapp.com/send?phone={{tour.guide.phone}}">
              <i class="ri-whatsapp-line"></i> Contactar al guia via WhatsApp
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="place-info">
      <div class="info-content">

        <hr style="margin-top: 40px;">

        <div class="map" id="map">
          <div class="map-content">
            <h3>Google Maps</h3>
            <div class="iframe-content">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7948.314500929586!2d-75.49234984310824!3d5.078248466279299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476f992bc1d18f%3A0x4b20e9455c9bd181!2sSolferino%2C%20Manizales%2C%20Caldas!5e0!3m2!1ses-419!2sco!4v1737248934767!5m2!1ses-419!2sco"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="iframe"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/tourDetail.js"></script>